react-app/package-lock.json
django-app/token.json
README.md
django-app/thithi_app/__pycache__
django-app/thithi_app/__pycache__/urls.cpython-313.pyc
django-app/thithi_app/__pycache__/urls.cpython-313.pyc
django-app/thithi_app/__pycache__/views.cpython-313.pyc
django-app/thithi_app/__pycache__/urls.cpython-313.pyc
